{% extends 'base.html' %} {% block style %}
<title>Superheroes App | Hakkında</title>
{% endblock style %}

{% block body %}

<br>

<div class="row">

    <div class="col-2">
    </div>

    <div style="background-image: url(/static/content_bg_blur.png); background-repeat: round;  border-radius: 9px;" class="col-8 text-center">
    <h6 style="color:antiquewhite;">
        <br>
        Hayal gücünün sınırlarını zorlayan bir yolculuğa hazır mısınız? Yepyeni bir süper kahraman deneyimi, tamamen elinizin altında! Süper güçlere sahip kahramanlarla dolu bu olağanüstü dünyaya hoş geldiniz. Size sunulan şansı değerlendirin ve kahramanlarınızı seçin, yeteneklerini geliştirin ve epik savaşlarda zafer kazanın. <br><br>

        <strong>Rastgele Seçim, Sonsuz Heyecan:</strong> Uygulamam, başlangıçta size rastgele 5 süper kahraman sunarak maceranın ilk adımını atmış olmanızı sağlar. Bu kahramanlar, farklı yeteneklere, güçlere ve özelliklere sahip. İşte stratejinizi belirlemenin ve en güçlü takımı oluşturmanın zamanı geldi!<br><br>
        
        <strong>Koleksiyonunuzu Geliştirin:</strong> Sadece koleksiyonunuzu tamamlamakla kalmayın, aynı zamanda her bir kahramanın özelliklerini geliştirme ve yükseltme şansına da sahipsiniz. Intelligence, Strength, Speed, Durability, Power ve Combat gibi değerleri artırarak kahramanlarınızı daha da güçlü hale getirin. Bu özellikler, savaşlarda kritik öneme sahip, bu yüzden stratejinizi dikkatlice oluşturun.<br><br>
        
        <strong>Epik Savaşlar ve Rekabet:</strong> Artık kahramanlarınız yalnızca bir koleksiyon parçası olmaktan çıktı! Diğer oyunculara veya botlara karşı savaşlara katılabilir, takımınızın gerçek gücünü test edebilirsiniz. Kahramanlarınızın benzersiz yeteneklerini kullanarak taktiksel hamleler yapın ve zaferi elde edin. Unutmayın, strateji her zaman en güçlü silahtır!<br><br>
        
        <strong>Sosyal Bağlantı:</strong> Arkadaşlarınızla veya diğer oyuncularla etkileşime geçin, kahramanlarınızı sergileyin ve en güçlü takımı kimin oluşturduğunu gösterin. Heyecan verici sıralamalarda yükselirken rekabetin tadını çıkarın ve süper kahraman evreninin lideri olma yolunda ilerleyin.<br><br>
        
        Güçlü karakterler, stratejik savaşlar ve arkadaşlarınızla rekabet - hepsi bu eşsiz süper kahraman koleksiyon uygulamasında! Hayalinizdeki takımı oluşturmak, yetenekleri geliştirmek ve epik savaşlarda zafer kazanmak için şimdi harekete geçin. Süper kahraman evrenine adım atın ve unutulmaz bir deneyimin keyfini çıkarın!<br><br>
        
        <i>Güç, strateji ve eğlencenin buluştuğu bu benzersiz süper kahraman koleksiyonuyla kendinizi keşfedin. Kahramanlarınızı seçin, yeteneklerini geliştirin ve epik savaşlarda zafer kazanın. Siz de bu efsanevi maceraya katılın ve süper kahraman evreninin bir parçası olun!</i><br><br>
        
        <strong>"Kaizoku Ou Ni Ore Wa Naru" -Kağan MUSLU</strong>
    </h6>
    </div>

    <div class="col-2">
    </div>
</div>

<div style="margin-bottom: 30px;" class="text-center">
    <img style="width: 50%;" src="static/superhero.jpg" alt="Super Hero Image">
</div>

{% endblock body %}