<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/fav.png">

    
    <style>
      .navbar-brand, .navbar-nav .nav-link {
      font-size: 17px; /* Yazıların boyutunu istediğiniz gibi ayarlayabilirsiniz */
      }

      .navbar h6 {
          color: azure;
      }

      .nav-pills .nav-link.active {
        background-color:cadetblue;
      }

      body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url('/static/content_bg_blur.png');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>

    {% block style %}{% endblock style %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 5px 0;">
        <a style="margin-left: 20px; display: flex; flex-direction: column; align-items: center; text-align: center;" class="navbar-brand" href="/">
          <img src="static/main.png" width="90" class="d-inline-block align-top" alt="Logo">
          <span>Superheroes Collection</span>
      </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Hakkında</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">İletişim</a>
              </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-center">
              <h4 style="color:white;" class="text-center">{{user.username}}</h4>
            </div>

            {% if user.is_authenticated %}
            
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/new_hero">
                    <div class="col text-center">
                        <img  width="60" src="/static/hero_icon.png" alt="new_hero">
                        <h6 style="margin-top: 5px;">Yeni Kahraman</h6>
                    </div>
                </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/heroes">
                      <div class="col text-center">
                          <img  width="60" src="/static/heroes_icon.png" alt="heroes">
                          <h6 style="margin-top: 5px;">Kahramanlarım</h6>
                      </div>
                  </a>
              </li>
              <li class="nav-item" style="margin-right: 10px;">
                  <a class="nav-link" href="/account">
                      <div class="col text-center">
                          <img  width="60" src="/static/acc_icon.png" alt="account">
                          <h6 style="margin-top: 5px;">Hesabım</h6>
                      </div>
                  </a>
              </li>
              <li class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" href="/logout">
                    <div class="col text-center">
                        <img  width="60" src="/static/logout_icon.png" alt="logout">
                        <h6 style="margin-top: 5px;">Çıkış</h6>
                    </div>
                </a>
            </li>
          </ul>          

              {% else %}

              <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" href="/account">
                        <div class="col text-center">
                            <img  width="60" src="/static/acc_icon.png" alt="account">
                            <h6 >Hesabım</h6>
                        </div>
                    </a>
                </li>
              </ul>

              {% endif %}
          </div>
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}

          {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% elif category == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith %}



      {% block body %}{% endblock body %}


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

</body>
</html>