<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/fav.png">

    {% block style %}{% endblock style %}
</head>
<body>
    
    <nav class="navbar sticky-top bg-dark border-bottom border-bottom-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a style="margin-left: 10px;" class="navbar-brand" href="/">
            <img width="100px" src="/static/main.png" alt="main_icon">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">Hakkında</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">İletişim</a>
              </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-center">
              <h4 style="color:white;" class="text-center">{{user.username}}</h4>
            </div>
            {% if user.is_authenticated %}
              <a href="/battle">
                <div class="col text-center">
                  <img style="margin-right:20px" src="/static/battle_icon.png" alt="battle" height="48" />
                  <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Savaş</h6>
                </div>
              </a>
              <a href="/new_hero">
                <div class="col text-center">
                  <img style="margin-right:20px" src="/static/hero_icon.png" alt="new_hero" height="48" />
                  <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Yeni Kahraman</h6>
                </div>
              </a>
                <a href="/heroes">
                <div class="col text-center">  
                  <img style="margin-right:20px" src="/static/heroes_icon.png" alt="heroes" height="48" />
                    <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Kahramanlar</h6>
                </div>
                </a>
                <a href="/account">
                <div class="col text-center">  
                  <img style="margin-right:20px" src="/static/acc_icon.png" alt="account" height="48" />
                    <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Hesap</h6>
                </div>
                </a>
                <a href="/logout">
                <div class="col text-center">  
                  <img style="margin-right:20px" src="/static/logout_icon.png" alt="logout" height="48" />
                    <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Çıkış</h6>
                </div>
                </a>
              {% else %}
              <a href="/account">
                <div class="col text-center">  
                  <img style="margin-right:20px" src="/static/acc_icon.png" alt="account" height="48" />
                    <h6 class="text-center link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" style="margin-right:20px">Hesap</h6>
                </div>
              </a>
              {% endif %}
          </div>
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}

          {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% elif category == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith %}


      {% block body %}{% endblock body %}

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

</body>
</html>