{% extends 'base.html' %} {% block style %}
<title>Superheroes App | Savaş</title>
{% endblock style %} {% block body %}

<div style="margin-top: 15px" class="container text-center">
  <div class="row justify-content-center">
    <div class="col-1"></div>

    <div class="col-10">
      <h2>Teamfight Seçim</h2>
      <br />

      {% if not heroes %}
        <a href="/first_five" class="btn btn-primary">İlk 5 Kahramanını Al!</a>
      {% else %}

        <table class="table table-sm table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Intelligence</th>
              <th scope="col">Strength</th>
              <th scope="col">Speed</th>
              <th scope="col">Durability</th>
              <th scope="col">Power</th>
              <th scope="col">Combat</th>
              <th scope="col">Teamfight</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
          {% for hero in heroes %}
            <tr>
              <th style="vertical-align: middle" scope="row">{{hero.name}}</th>
              <td style="vertical-align: middle" >
                <img style="width: 60px;" src="{{hero.image_url}}" alt="hero_image">
              </td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.intelligence/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.intelligence}}</div></td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.strength/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.strength}}</div></td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.speed/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.speed}}</div></td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.durability/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.durability}}</div></td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.power/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.power}}</div></td>
              <td style="vertical-align: middle" ><div class="bg-gradient" style="background-color: {{ interpolate_color('a8c0d6', '294157', hero.combat/ 100) }}; display: inline-block; padding: 10px; border-radius: 10px; color: white;">{{hero.combat}}</div></td>
              <td style="vertical-align: middle" >
                <input type="checkbox" class="btn-check" id="btn-check-outlined{{hero.hero_id}}" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined{{hero.hero_id}}">Savaşa Ekle</label><br>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      {% endif %}
    </div>

    <div class="col-1"></div>
  </div>
  <br />
</div>

{% endblock body %}
