{% extends 'base.html' %} {% block style %}
<title>Superheroes App | Savaş</title>
{% endblock style %} {% block body %}

<div style="margin-top: 15px" class="container text-center">
  <div class="row justify-content-center">
    <div class="col-1"></div>

    <div class="col-10">
      <h2>Kahramanlarım</h2>
      <br />

      {% if not heroes %}
        <a href="/first_five" class="btn btn-primary">İlk 5 Kahramanını Al!</a>
      {% endif %}

      <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center bg-info">
        {% for hero in heroes %}
        <div class="col">
          <div class="card" style="width: 17rem">
            <img src="{{hero.image_url}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{hero.name}}</h5>
              <h6 class="card-text">{{hero.full_name}}</h6>
              <hr />
              <p class="card-text">Intelligence : {{hero.intelligence}}</p>
              <p class="card-text">Strength : {{hero.strength}}</p>
              <p class="card-text">Speed : {{hero.speed}}</p>
              <p class="card-text">Durability : {{hero.durability}}</p>
              <p class="card-text">Power : {{hero.power}}</p>
              <p class="card-text">Combat : {{hero.combat}}</p>
              <a href="#" class="btn btn-primary">X Factor</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-1"></div>
  </div>
  <br />
</div>

{% endblock body %}
