{% extends 'base.html' %}

{% block style %}
<title>Superheroes App | Anasayfa</title>
<style>
    :root {
        --input-placeholder-color: white;
      }

      input.form-control::placeholder {
        color: var(--input-placeholder-color);
      }
</style>
{% endblock style %}

{% block body %}

<div style="text-align: center; margin-top: 20px; ">
    <h3 style="display: inline-block; color: aliceblue; background-image: url(/static/content_bg.jpg); border-radius: 7px; border:5px solid black; border-style: inset;">Superheroes Collection App</h3>
</div>

<div style="margin-top: 20px;" class="container text-center">
    <div class="row justify-content-center">
        <div class="col-2">
        </div>

        <div style="background-image: url(/static/content_bg.jpg); background-repeat: round; border-radius: 9px;" class="col-8">
            <div class="row">                
                <form action="/" class="d-flex" role="search", method="post">
                    <input name="input_hero" class="form-control me-2 text-bg-dark" type="search" placeholder="Kahraman Ara" aria-label="Search">
                    <button class="btn btn-success" type="submit">Ara</button>
                </form>
            </div>
            <br>

            <div class="row row-cols-1 row-cols-md-3 g-0 justify-content-center">
                {% for hero in hero_results %}
                <div class="card">
                    <img src="{{hero.image}}"
                    class="img-fluid rounded card-img-top" alt="...">
                    <div class="card-body card border-success">
                    <h5 class="card-title">{{hero.name}}</h5>
                    {% if hero.full_name %}
                        <h6 class="card-text">{{hero.full_name}}</h6>
                    {% else %}
                        <h6 class="card-title">{{hero.name}}</h6>
                    {% endif %}
                    
                    <br>
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-pills d-none d-md-flex justify-content-evenly" id="myTabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="hero-info-tab{{hero.id}}" data-toggle="pill" data-bs-toggle="tab" href="#hero-info{{hero.id}}">Hero Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="bio-info-tab{{hero.id}}" data-toggle="pill" data-bs-toggle="tab" href="#bio-info{{hero.id}}">Bio Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="work-and-connection-info-tab{{hero.id}}" data-toggle="pill" data-bs-toggle="tab"
                            href="#work-and-connection-info{{hero.id}}">Work and Connections Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="stat-info-tab{{hero.id}}" data-toggle="pill" data-bs-toggle="tab" href="#stat-info{{hero.id}}">Stat Info</a>
                        </li>
                        </ul>
                    </div>
                    <div class="card-body card border-success">
                        <div class="tab-content">
                        <div class="tab-pane fade show active" id="hero-info{{hero.id}}">
                            <!-- Hero Information Buraya Eklenir -->
                            <p class="card-text"><strong>Gender: </strong>{{hero.app_gender}}</p>
                            <p class="card-text"><strong>Race: </strong>{{hero.app_race}}</p>
                            <p class="card-text"><strong>Height: </strong>{{hero.app_height}}</p>
                            <p class="card-text"><strong>Weight: </strong>{{hero.app_weight}}</p>
                            <p class="card-text"><strong>Eye Color: </strong>{{hero.app_eyeColor}}</p>
                            <p class="card-text"><strong>Hair Color: </strong>{{hero.app_hairColor}}</p>
                        </div>
                        <div class="tab-pane fade" id="bio-info{{hero.id}}">
                            <!-- Bio Information Buraya Eklenir -->
                            <p class="card-text"><strong>Alter Egos: </strong>{{hero.bio_alterEgos}}</p>
                            <p class="card-text"><strong>Aliases: </strong>{{hero.bio_aliases}}</p>
                            <p class="card-text"><strong>Place of Birth: </strong>{{hero.bio_placeOfBirth}}</p>
                            <p class="card-text"><strong>First Appearance: </strong>{{hero.bio_firstAppearance}}</p>
                            <p class="card-text"><strong>Publisher: </strong>{{hero.bio_publisher}}</p>
                            <p class="card-text"><strong>Alignment: </strong>{{hero.bio_alignment}}</p>
                        </div>
                        <div class="tab-pane fade" id="work-and-connection-info{{hero.id}}">
                            <!-- Work Information Buraya Eklenir -->
                            <p class="card-text"><strong>Work Occupation: </strong>{{hero.work_occupation}}</p>
                            <p class="card-text"><strong>Work Base: </strong>{{hero.work_base}}</p>
                            <p class="card-text"><strong>Group Affiliation: </strong>{{hero.con_groupAffiliation}}</p>
                            <p class="card-text"><strong>Relatives: </strong>{{hero.con_relatives}}</p>
                        </div>
                        <div class="tab-pane fade" id="stat-info{{hero.id}}">
                            <!-- Stat Information Buraya Eklenir -->
                            <p class="card-text"><strong>Intelligence: </strong>{{hero.stat_intelligence}}</p>
                            <p class="card-text"><strong>Strength: </strong>{{hero.stat_strength}}</p>
                            <p class="card-text"><strong>Speed: </strong>{{hero.stat_speed}}</p>
                            <p class="card-text"><strong>Durability: </strong>{{hero.stat_durability}}</p>
                            <p class="card-text"><strong>Power: </strong>{{hero.stat_power}}</p>
                            <p class="card-text"><strong>Combat: </strong>{{hero.stat_combat}}</p>
                        </div>
                        <br>
                        <a href="/#/hero_add/{{hero}}" type="button" class="btn btn-danger">Yıldız Puanı ile Alma Sistemi Eklenecek!</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                {% endfor %}
        
            </div>
        </div>
        
        <div class="col-2">
        </div>
    </div>
</div>





{% endblock body %}
